BASE_URL = http:/$()/13.124.252.133
BUCKET_URL = https:/$()/websoso-aws-bucket.s3.ap-northeast-2.amazonaws.com
TEST_TOKEN = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhY2Nlc3MiLCJpYXQiOjE3MzIzNDQ0NDUsImV4cCI6MTczMzU1NDA0NSwidXNlcklkIjo5fQ.z97Y0QQ4S3kp9Rvj-FsMyF4qoyznmn-c4Wvdmz8ddoQ
KAKAO_APP_KEY = 36e17a01cc11fa2116d6e59e4d98d159
