<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-eJMne4nHb33DHYB_vEhUg6baHw_GfKA</string>
	<key>GCM_SENDER_ID</key>
	<string>121319668770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.websoso</string>
	<key>PROJECT_ID</key>
	<string>websoso-6439b</string>
	<key>STORAGE_BUCKET</key>
	<string>websoso-6439b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121319668770:ios:a3b4b55ec01a7a17e8de7b</string>
</dict>
</plist>